body {
  background: var(--dark);
  color: var(--light);
}
body > * {
  text-align: center;
}
.container {
  max-width: 700px;
}
.row {
  margin-bottom: 1rem;
}
.calendar-iframe {
  max-width: 100%;
}
